<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Escape game</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
  </head>

  <body> 

    {% if popup %}
    <div class="panel-blanc-150"></div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Hey, te revoilà ! </h3>
          </div>
          <div class="panel-body">
            <p> Veux-tu reprendre là où tu t'es arrêté la dernière fois ? </p>
          </div> 
          <div class="panel-footer">
            <center>
              <a href="/reprendre" class="btn btn-info" >Oui</a>
              <a href="/recommencer" class="btn btn-info" >Non</a>
            </center>
          </div>
        </div>
      </div>
    </div>
    {% else %}

      <div class="container-fluid">
        <div class="row panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title text-center">Bienvenue ! </h1>
          </div>
        </div>

        <div class="row panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Présentation</h3>
          </div>
          <div class="panel-body">
            <p> 
              Vous vous êtes perdu dans un labyrinthe, le but est de résoudre plusieurs énigmes
              pour en sortir. Tu peux suivre ta progression sur la labyrinthe qui s'affichera 
              en bas de l'écran. Tu aura besoin d'activer de son pour résoudre certaines énigmes,
              active maintenant pour rien manquer. Et ouvre l’œil les indices peuvent se cacher 
              de partout ! Le but est de sortir du labyrinthe avec le plus de points possibles. 
              Une dernière chose, n'oublies pas de manger 5 fruits et légumes par jour, moi 
              j'adore les poires, pas toi ? Tu peux lire les règles ci-dessous et ensuite, trouve
              le bouton pour commencer... Amuses-toi bien ! 
            </p>
          </div>
        </div>

        <div class="row panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Les règles</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li>Chaque énigme résolue rapporte des points</li>
              <li>Il ne te sera (presque) jamais dit si tu as validé ou non une énigme</li>
              <li>Tu n'as pas le droit de revenir en arrière pour changer ta réponse</li>
              <li>Utilise les liens sur la gauche pour revenir sur les pages précédentes, au cas où tu aurais raté un indice</li>
              <li>Aucune énigme ne fera appel au hasard</li>
            </ul>
          </div>
        </div>

        <div class="row text-center">
          <a class="btn btn-blanc" href="p1">C'est parti !!</a>
        </div>
        
      </div>
    {% endif %}

    <script src="query.js"></script>
    <script src="bootstrap.js"></script>

  </body>
</html>
