<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Escape game</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <row>
      La folie double chaque jour et occupe 25% de mon cerveau, dans combien de temps serai-je complètement fou ?
    </row>
    <row>
      <col-md-2>
        <a href="p2.html"> 2 jours </a>
      </col-md-2>
      <col-md-2>
        <a href="p64.html"> 3 jours </a>
      </col-md-2>
    </row>
  </body>
</html>
