<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Escape game</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="container">
      <div class="panel panel-default">
        <div class="row">
          <div class="col-xs-3 col-sm-2">
            <ul class="list-group">
              {% for p in liste %}
                <a href="{{p.lien}}" class="list-group-item">{{p.description}}</a>
              {% endfor %}
            </ul>
          </div>

          <div class="col-xs-9 col-sm-10">
            <div class="row">
              <div class="panel-body">
                <p>
                  {% if premierEssai == 'vrai' %}
                    Tu es juste devant la sortie, mais un garde te bloque la route, peux-tu lui donner le mot de passe ? 
                  {% else %}
                    Mauvaise réponse, tu peux réessayer.
                  {% endif %}
                </p>
              </div>
            </div>

            <div class="row">
              <center>
                <div class="col-xs-9 col-sm-10">
                  <form method="post" >
                    <input type="text" name="proposer" />
                    <input type="submit" class="btn btn-default" value="proposer">
                  </form>
                </div>
              </center>
            </div>

            <br/>
            <div class="row">
              <div class="col-xs-9 col-sm-10">
                <center>
                  <img src="img/labyrinthe_15.png">
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>