<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Escape game</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    Albert Einstein disait "la folie est de se comporter toujours de la même façon et attendre un résultat différent"
    Si vous deviez chisoir entre ces deux maison, laquelle chiosiriez-vous ?
    <a href="p63.html"> Gryffondor </a>
    <a href="p3.html"> Serpentard </a>
  </body>
</html>
