<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Escape game</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    Ce n'est pas possible mais peu importe
    Tu as fais une erreur quelque part, mais je ne sais plus où.
    Ou veux tu revenir ? 
    <a href="p48.html"> Le calcul de maths </a>
    <a href="p49.html"> Le paradxe des philosophes </a>
  </body>
</html>
