<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Escape game</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    écoute bien : un chauffeur de bus commence sa tournée à vide, d'arrête une prmière fois et récupère 2 passagers, continuer puis d'arrête à nouveau, un assage monte et un autre descend. A l'arêt suivant, un passger monter et deux autres descendent. Au dernier arrêt 3 personnes montent. 
    Combien le bus a-t-il fait d'arrêt ? 
    <a href="p38.html"> 5 </a>
    <a href="p40.html"> 6 </a>
  </body>
</html>
