<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Escape game</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    Oscard Wilde a dit : "le chemimn des paradoxes est le chemin du vrai ... corde raide".
    Deux philosophes discutent : Platon dit "ce que dit Aristote est vrai", Aristote dit 'ce que dit Platon est faux"
    Qui a raison ?
    <a href="p46.html"> les deux </a>
    <a href="p46.html"> aucun des deux </a>
  </body>
</html>
