<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Escape game</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    saviez-vous que le whisky iralndais à ne pas confondre avec son homolgue écossais existait déjà bien avant la fin du Moyen Age ?
    Quelle est la particularité de cette phrase ? 
    <a href="p8.html"> az </a>
    <a href="p53.html"> temps </a>
  </body>
</html>
