<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Escape game</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="../public/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
  </head>  
  <body>
    <div class="container-fluid">


<body onload="window.location.href = '#infos';"> 

  <div class="modalDialog" id="infos">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Plus d'informations</h4>
            </div>
            <div class="modal-body">
              Le Tigre (Panthera tigris) est un mammifère carnivore de la famille des félidés...
            </div>
            <div class="modal-footer">
              <a href="/fermerModal" class="btn btn-info" >Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="query.js"></script>
    <script src="bootstrap.js"></script>


  </body>
</html>
